<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
     <link rel="icon" href="favicon-32x32.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title id="title">BloodFinder</title>
    <link rel="icon" href="https://i.pinimg.com/736x/3b/cd/36/3bcd36af290d916f6b50b7db7e6e9f30.jpg">
</head>

<body>
   <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm sticky-top">
    <div class="container mx-auto" style="max-width: 800px;">
        <h4 class="navbar-brand" id="title">BloodFinder</h4>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listofdonors">List of Donors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Aboutus">Team</a>
                </li>
            </ul>
            <div class="d-flex flex-column">
                {{#if username}}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle red-dropdown" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{username}}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/login">Logout</a></li>
                        <li><a class="dropdown-item" href="/myaccount">My Account</a></li>
                    </ul>
                </div>
                {{else}}
                <div class="contain">
                <a class="btn btn-primary btn-ig mb-2" href="/register">Give Blood</a>
                <a class="nav-link" href="/login">Login</a>
                </div>
                
                {{/if}}
            </div>
        </div>
    </div>
</nav>



    <div class="container mt-4">
        <div class="row">
               {{#if message}}
            <h4 class="alert alert-success mt-4" id="login-alert">{{message}}</h4>
        {{/if}}
            <div class="col-md-6">
                <img src="https://media.istockphoto.com/id/1386527017/vector/blood-donation-concept.jpg?s=612x612&w=0&k=20&c=6XQcKycr8PQaRniiinXHDGUMlEzlNX-SbmowYZ1p4uc=" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h4>Where every drop counts, and every donor's a hero!</h4>
                <p>Donating blood means being a lifeline for millions annually. Every donation holds the potential to save countless lives, making each drop a beacon of hope in someone's darkest hour</p> 
                     
                 {{#if username}}
                        {{!-- <a class="btn btn-primary btn-ig" role="button" href="/register" disabled>Give Blood</a> --}}
                      <a class="btn btn-primary btn-ig" role="button" href="/listofdonors">Need Blood</a>
                      {{else}}
                      <a class="btn btn-primary btn-ig" role="button" href="/register">Give Blood</a>        
                      <a class="btn btn-primary btn-ig" role="button" href="/listofdonors">Need Blood</a>
                {{/if}}
            </div>
        </div>
    </div>

    <hr> 

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
    <h2>Find Blood Donors</h2>
       <form action="/listofdonors" method="GET">
        <div class="mb-3">
            <label for="bloodType" class="form-label">Blood Type</label>
            {{!-- <input type="text" class="form-control" id="bloodType" name="bloodType" placeholder="Enter your blood type" required>
             --}}
              <select class="form-select" aria-label="Default select example" id="bloodType" name="bloodType" required>
                <option disabled selected> Select blood type...</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" id="city" name="city" placeholder="Enter your city" required> 
        </div>
        <div class="mb-3">
            <label for="district" class="form-label">District</label>
            <input type="text" class="form-control" id="district" name="district" placeholder="Enter your district" required>
        </div>
        <div class="mb-3">
            <label for="barangay" class="form-label">Barangay</label>
            <input type="text" class="form-control" id="barangay" name="barangay" placeholder="Enter your barangay" required>
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary d-block mx-auto">Find Donors</button>
        </div>
        
    </form>
</div>
            <div class="col-md-6">
                <h2>Map</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d123551.96677711797!2d120.88001056249998!3d14.5991349!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c9dd97a1439b%3A0x44e1b969e7f1f67a!2sPUP%20Main%20-%20A.%20Mabini%20Campus%2C%20Sta.%20Mesa%2C%20Manila!5e0!3m2!1sen!2sph!4v1707191124076!5m2!1sen!2sph" width="100%" height="400" style="border: 0;" allowfullscreen="" loading="lazy"></iframe>
        
            </div>
        </div>
    </div>

    <hr> 

    <div class="container mt-4">
        <div class="col text-center">
            <h4>Why Donate Blood?</h4>
        </div>
        <p>Donating blood isn't just an act of kindness; it's a lifeline for countless individuals in need. Each donation has the power to save up to three lives, providing vital support during emergencies, surgeries, and treatments for diseases like cancer and anemia</p>
            <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <img src="https://media.istockphoto.com/id/1334961240/vector/blood-donors-vector-illustration.jpg?s=612x612&w=0&k=20&c=JeyooHfD30509SPpfUcHCbIlsKtEwc_-bIon6ngdFdM=" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h5>Give Blood!</h5>
                <p>By giving blood, you're not just giving a pint; you're giving hope, strength, and a chance at a brighter tomorrow. Join the noble ranks of blood donors and be the hero someone desperately needs. After all, it's not every day you get the chance to save a life with a simple, selfless act.</p>
            </div>
        </div>
    </div>

    <hr> 

    <div class="container mt-4">
        <div class="col text-center">
            <h4>Useful information about blood donation</h4>
        </div>
        <p>Donating blood not only improves the life of the recipient, but also helps the donor stay healthy.</p>
        
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="row">
        <div class="col">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                        Conditions that make you eligible to donate blood
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse ">
                    <div class="accordion-body">
                       <li>You must be at least 17 years old</li> 
                       <li>You must weigh at least 50 kg.</li>
                       <li>The percentage of hemoglobin must be suitable for the donation.</li>
                       <li>Pregnant women are not eligible for donation, wait 6 weeks after delivery.</li>
                       <li>The donor must be free of certain diseases that prevent donation.</li>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        What donor is supposed to do before donating 
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <li>Get enough sleep, at least 5 hours.</li>
                        <li>Eat a meal before donating.</li>
                        <li>Bring an ID card.</li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        Contraindications to donation
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <li>That the person has not made any donations in the last three months.</li>
                        <li>That the donor has not undergone any surgical intervention recently.</li>
                        <li>The donor suffers from any of the following diseases: Blood pressure, diabetes, malaria at least in the last two years, kidney failure, liver enlargement, chest disease, rheumatic fever, thyroid disease, hereditary bleeding and hemorrhage.</li>
                        <li>Pregnant people are not eligible for donation, wait 6 weeks after delivery.</li>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                        How long does the donation process take
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Typically 20 minutes. The period to separate each donation from the other for the same person is 3 months because this is the ideal period for the reproduction of blood cells.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                        Some recommendation for after the donation process
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
                    <div class="accordion-body">
                       <li>A 10 min rest.</li>
                       <li>Do not exert yourself excessively within two hours of donation</li>
                       <li>Drink fluids to replenish the body.</li>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                        Why shoul I be a blood donor?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
                    <div class="accordion-body">
                       <li>Every three seconds, someone in the world needs a blood transfusion.</li>
                       <li>Your one donation can save 3 people.</li>
                       <li>The blood donation process restores the body's vitality and activity through the renewal of blood cells.</li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
     
</div>

    </div>

    <hr> <!-- Horizontal line -->

    <div class="container mt-4">
    <div class="col text-center" id="head-title">
        <h4>Donor Statistics</h4>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
        {{#each donorstatistics}} 
        <div class="col mb-4">
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title text-danger fw-bold">{{this.bloodGroup}}</h5>
                        <div class="bg-danger text-white p-2 rounded">
                            <p class="card-text m-0">{{this.tot}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<hr>

    <footer class="footer bg-dark text-white py-4">
    <div class="container d-flex justify-content-between">
        <div class="col-md-6">
            <h5><p>&copy; 2024: Designed by <span class="designer">Group 4</span></p></h5>
            <h9>WEB DEVELOPMENT PROJECT</h9>
        </div>
        <div class="col-md-6 text-end">
            <h5>Follow Us</h5>
            <ul class="list-unstyled">
               <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
            </ul>
        </div>
    </div>
</footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
        
</body>
    <script>
        setInterval(function () {document.getElementById("login-alert").style.display = "none";}, 1000);
    </script>
</html>
