<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/listofdonor.css">
     <link rel="icon" href="favicon-32x32.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>BloodFinder</title>
    <link rel="icon" href="https://i.pinimg.com/736x/3b/cd/36/3bcd36af290d916f6b50b7db7e6e9f30.jpg">
</head>

<body>
   <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm sticky-top">
    <div class="container mx-auto" style="max-width: 800px;">
        <h4 class="navbar-brand" id="title">BloodFinder</h4>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listofdonors">List of Donors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Aboutus">Team</a>
                </li>
            </ul>
            <div class="d-flex flex-column">
                {{#if username}}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle red-dropdown" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{username}}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/login">Logout</a></li>
                        <li><a class="dropdown-item" href="/myaccount">My Account</a></li>
                    </ul>
                </div>
                {{else}}
                <div class="contain">
                <a class="btn btn-primary btn-ig mb-2" href="/register">Give Blood</a>
                <a class="nav-link" href="/login">Login</a>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</nav>


       <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
    <h2>Find Blood Donors</h2>

    <form action="/listofdonors" method="GET">
        <div class="mb-3">
            <label for="bloodType" class="form-label">Blood Type</label>
            <select class="form-select" aria-label="Default select example" id="bloodType" name="bloodType" required>
                <option disabled selected> Select blood type...</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" id="city" name="city" placeholder="Enter your city" required> 
        </div>
        <div class="mb-3">
            <label for="district" class="form-label">District</label>
            <input type="text" class="form-control" id="district" name="district" placeholder="Enter your district" required>
        </div>
        <div class="mb-3">
            <label for="barangay" class="form-label">Barangay</label>
            <input type="text" class="form-control" id="barangay" name="barangay" placeholder="Enter your barangay" required>
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary d-block mx-auto">Find Donors</button>
        </div>
    </form>
</div>

            <div class="col-md-6">
                <h2>Map</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d123551.96677711797!2d120.88001056249998!3d14.5991349!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c9dd97a1439b%3A0x44e1b969e7f1f67a!2sPUP%20Main%20-%20A.%20Mabini%20Campus%2C%20Sta.%20Mesa%2C%20Manila!5e0!3m2!1sen!2sph!4v1707191124076!5m2!1sen!2sph" width="100%" height="400" style="border: 0;" allowfullscreen="" loading="lazy"></iframe>
        
            </div>
        </div>
    </div>

    <hr>

    <div class="container mt-4">
        <div class="col text-center" id="head-title">
            <h4>Blood Donors</h4>
        </div>
        <div class="row"> 
                            
        {{#each blooddonors}} 
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title green-title">{{this.phonenumber}}</h5>
                        <p class="card-text">Blood Type: {{this.bloodGroup}}</p>
                        <p class="card-text">City: {{this.city}}</p>
                        <p class="card-text">District: {{this.district}}</p>
                        <p class="card-text">Barangay: {{this.barangay}}</p>
                    </div>
                </div> 
            </div>
            {{/each}}                
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-primary">Next</button>
        </div>
    </div>

    <hr>
    
        <div class="container mt-4">
        <div class="col text-center" id="head-title">
            <h4>Donor Statistics</h4>
        </div>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
            {{#each donorstatistics}} 
            <div class="col mb-4">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title text-danger fw-bold">{{this.bloodGroup}}</h5>
                            <div class="bg-danger text-white p-2 rounded">
                                <p class="card-text m-0">{{this.tot}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

<footer class="footer bg-dark text-white py-4">
    <div class="container d-flex justify-content-between">
        <div class="col-md-6">
            <h5><p>&copy; 2024: Designed by <span class="designer">Group 4</span></p></h5>
            <h9>WEB DEVELOPMENT PROJECT</h9>
        </div>
        <div class="col-md-6 text-end">
            <h5>Follow Us</h5>
            <ul class="list-unstyled">
               <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
            </ul>
        </div>
    </div>
</footer>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>
</html>
