<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/listofdonor.css">
    <title>Homepage</title>
    <style>
        /* Custom CSS to center content and add margin */
        .container {
            margin-left: auto;
            margin-right: auto;
            max-width: 800px;
        }
    </style>
    <script>
           
    Handlebars.registerHelper("each", function(context, options) {
    var ret = "";

    for (var i = 0, j = context.length; i < j; i++) {
        ret = ret + options.fn(context[i]);
    }

    return ret;
    });

    </script>
</head>

<body>
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container mx-auto" style="max-width: 800px;">
            <h4 class="navbar-brand">Blood Finder</h4>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/listofdonors">List of Donors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Aboutus">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
             <div class="d-flex flex-column">
                    {{#if username}}

                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{username}}
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/login">Logout</a></li>
                                <li><a class="dropdown-item" href="/myaccount">My Account</a></li>
                            </ul>
                        </div>
                    {{!-- <a class="btn btn-primary btn-ig mb-2" href="/register"></a> --}}
            
                {{else}}
                <a class="btn btn-primary btn-ig mb-2" href="/register">Give Blood</a>
                <a class="nav-link" href="/login">Login</a>
            {{/if}}

                 {{!-- {{#if myaccount}}
                  <a class="nav-link" href="/login">{{myaccount}}</a>
          
            {{else}}
            <a class="nav-link" href="/login">Login</a>
        {{/if}} --}}
            </div>
        </div>
    </nav>

       <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
    <h2>Find Blood Donors</h2>

    <form action="/listofdonors" method="GET">
        <div class="mb-3">
            <label for="bloodType" class="form-label">Blood Type</label>
            <input type="text" class="form-control" id="bloodType" name="bloodType" placeholder="Enter your blood type" required>
        </div>
        <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" id="city" name="city" placeholder="Enter your city" required> 
        </div>
        <div class="mb-3">
            <label for="district" class="form-label">District</label>
            <input type="text" class="form-control" id="district" name="district" placeholder="Enter your district" required>
        </div>
        <div class="mb-3">
            <label for="barangay" class="form-label">Barangay</label>
            <input type="text" class="form-control" id="barangay" name="barangay" placeholder="Enter your barangay" required>
        </div>
        <button type="submit" class="btn btn-primary">Find Donors</button>
    </form>
</div>

            <div class="col-md-6">
                <h2>Map</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d123551.96677711797!2d120.88001056249998!3d14.5991349!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c9dd97a1439b%3A0x44e1b969e7f1f67a!2sPUP%20Main%20-%20A.%20Mabini%20Campus%2C%20Sta.%20Mesa%2C%20Manila!5e0!3m2!1sen!2sph!4v1707191124076!5m2!1sen!2sph" width="100%" height="400" style="border: 0;" allowfullscreen="" loading="lazy"></iframe>
        
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <h4>Blood Donors</h4>
        <div class="row">
                     
        {{#each blooddonors}} 
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{this.phonenumber}}</h5>
                        <p class="card-text">Blood Type: {{this.bloodGroup}}</p>
                        <p class="card-text">City: {{this.city}}</p>
                        <p class="card-text">District: {{this.district}}</p>
                        <p class="card-text">Barangay: {{this.barangay}}</p>
                    </div>
                </div> 
            </div>
             {{/each}} 
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-primary">Next</button>
        </div>
    </div>

    
        <div class="container mt-4">
        <h4>Donor Statistics</h4>

        <div class="row">
            {{#each donorstatistics}} 
            <div class="col-md-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{this.bloodGroup}}</h5>
                        <p class="card-text">{{this.tot}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

    <footer class="footer bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Contact Us</h5>
                <p>Email: example@example.com</p>
                <p>Phone: +1234567890</p>
            </div>
            <div class="col-md-6">
                <h5>Follow Us</h5>
                <ul class="list-unstyled">
                    <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>
</html>
